{% extends 'base.html' %}
{% block title %}Place Your Order Here!{% endblock title %}

{% block body %}


<br><br>

<div class="only-laptop">
<hr style="border:1px solid black">
</div>




{% for message in messages %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:black;color:#ffca18;margin-bottom:-1%;">
        <h5 class="modal-title" id="exampleModalLongTitle">Thanks For Your Request</h5>
        <button type="button" class="close" style="color:white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color:black;color:#ffca18;">
      <img src="{{message.tags}}" style='width:100%' class="rounded mx-auto d-block" alt="...">
      <b>
        {{message}}
      </b>
      </div>
      
      <div class="modal-footer" style="background-color:black;color:#ffca18;">
      <a href="/track">
        <button type="button" class="btn btn-outline-warning">Track</button>
      </a>

      <a href="/">
        <button type="button" class="btn btn-warning">Home</button>
      </a>
      
      
      </div>
    </div>
  </div>
</div>

{% endfor %}



    <div class="container">
     
      <div class="py-5 text-center">
     
        <h2>Checkout :
        </h2>

        <p class="lead">
        <br>
         
            
         <h4>
             We Assure You To Deliver Your Clothes Back To You Within 60 Hours
         </h4>
         {% comment %} <h3>YOU CAN CANCEL ORDER ANYTIME BEFORE PICKUP OR DURING WEIGHING</h3> {% endcomment %}
            <div class="h-1 w-100 bg-yellow-500 rounded"></div>

         </p>
     
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-dark">
            <b> Your Order: </b>
            </span>
          </h4>
          <ul class="list-group mb-3" id="items">


          </ul>
          {% if user.is_authenticated %}
            <br>
          {% else %}
          <a href="/place-order-phone/3">
            <u> Go Back </u>
          </a>
          <br>
          {% endif %}

        </div>

        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Confirm Your Order Here :</h4>
          
          <form action="" method="POST" id="orderForm">  {% csrf_token %}
            <div class="row">
              {% if user.is_authenticated %}

              
              <div class="form-group" style="width:90%;margin:auto;">
                <input type="hidden" name="order_info" id="orders" value="">
                <input type="hidden" name="order_price" id="price" value="">
                <textarea class="form-control mb-4" value="{{address}}" id="exampleFormControlTextarea1" rows="3">{{address}}</textarea>
              </div>

              {% else %}

              <div class="col-md-6 mb-3">
                <label for="firstName">Full name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Phone No.</label>
                <input type="tel" id="phone" name="phone" maxlength="10" minlength="10" class="form-control" placeholder="" value={{phone_get}} required disabled>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Building/House No.</label>
                <input type="text" id="flat" name="flat" class="form-control" placeholder="" value="" required>

              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Floor</label>
                <input type="text" id="floor" name="floor" class="form-control" placeholder="" value="" required>
              </div>
            </div>


            <div class="mb-3">
              <label for="email">Further Address <span class="text-muted"></span></label>
                <select name="location" class="form-control" id="exampleFormControlSelect1" required>
                    <option>Shaheen Bagh</option>
                    <option>Abul Fazal</option>
                </select>
            </div>


            <div class="mb-3">
              <label for="lmark">Landmark <span class="text-muted">(Optional)</span></label>
              <input type="text" id="lmark" name="landmark" class="form-control" id="lmark" placeholder="Near Tayyab Masjid Etc..">

            </div>

            <input type="hidden" name="order_info" id="orders" value="">
            <input type="hidden" name="order_price" id="price" value="">

            <hr class="mb-4">
            <button class="btn btn-warning btn-lg btn-block" type="button" data-toggle="modal" data-target="#signupModal">Continue to checkout</button>
            <br><br>


            
            <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="signupModalTitle">Final Step</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
              <div class="form-group">
                <label for="username">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email" required>
              </div>

              {% comment %} <div class="form-group">
                <label for="username">Password</label>
                <input type="password" class="form-control" id="passw" name="passw" placeholder="Password" minlength="3" required>
              </div> {% endcomment %}

                            
              <label for="password">Password</label>              
              <div class="input-group mb-3">
                <input type="password" class="form-control" id="passw" name="passw" placeholder="Password" minlength="3" required>
                <div class="input-group-append">
                  <span onclick="showPass()" id="show_pass_btn" class="input-group-text">Show</span>
                </div>
              </div>


              {% endif %}

                    <button type="submit" style="width:90%;margin:auto;" class="btn btn-block btn-warning">Place Order</button>
                  </div>


                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>


          </form>
        </div>
      </div>

</div>

<br><br><br>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

{% block js %}

<script>
  function show_Modal(){
    $('#myModal').modal('show');
  }

  function showPass(){
    document.getElementById("passw").type="text";
    document.getElementById('show_pass_btn').innerHTML="Hide";
    document.getElementById('show_pass_btn').setAttribute('onclick','hidePass()');
  }

  function hidePass(){
    document.getElementById("passw").type="password";
    document.getElementById('show_pass_btn').innerHTML="Show";
    document.getElementById('show_pass_btn').setAttribute('onclick','showPass()');
  }


</script>

{% if messages %}
<script>
show_Modal();
</script>

{% endif %}



<script>

if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
}

if ($.isEmptyObject(cart)) {
    window.location.href = "/dry-clean"

}
var all_orders = [];
for(item in cart){
  let name = cart[item][1];
  let qty = cart[item][0];
   if(qty!=0){
       

  let price = cart[item][2][0];
  price = price*qty
  mystr = `<li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">${name} 
                <span class="badge badge-warning badge-pill">${qty}</span>
                </h5>
              </div>
              
              
            </li>
`
/*
for line 206, replace after Offer ends
<span class="text-dark"><b>₹ ${price}</b></span>
*/
$('#items').append(mystr);

    }
}

let orders = []
var total_price = 0; 

for(item in cart){

  let name = cart[item][1];
  let qty = cart[item][0];
  let price = cart[item][2][0]
  price = price*qty
  order_info = [
  name,
  qty,
  price
  ]
  total_price = total_price + price;
  orders.push(name+'['+qty+']');

}
/*
mystr = `<li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h4 class="my-0">TOTAL PRICE: 
                </h4>
              </div>
              <h4><b>₹ ${total_price}</b></h4>
            </li>
`

$('#items').append(mystr);
*/
document.getElementById('orders').value=orders;
document.getElementById('price').value=total_price;




if(localStorage.getItem("name")!=null){
    document.getElementById('name').value = localStorage.getItem("name");
    document.getElementById('phone').value = localStorage.getItem("phone");
    document.getElementById('flat').value = localStorage.getItem("flat");
    document.getElementById('floor').value = localStorage.getItem("floor");
    document.getElementById('lmark').value = localStorage.getItem("lmark");
}

$('#orderForm').submit(function(event) {

  name = document.getElementById('name').value;
  phone = document.getElementById('phone').value;
  flat = document.getElementById('flat').value;
  floor = document.getElementById('floor').value;
  lmark = document.getElementById('lmark').value;
  passw = document.getElementById('passw').value;

  //info_new = [name, phone, flat, floor, lmark];
  //event.preventDefault();
  event.returnValue = false;

if(localStorage.getItem("name")==null){
    localStorage.setItem("name", name);
    localStorage.setItem("phone", phone);
    localStorage.setItem("flat", flat);
    localStorage.setItem("floor", floor);
    localStorage.setItem("lmark", lmark);
    localStorage.setItem("passw", passw);

}

  event.returnValue = true;
});

</script>




</script>


{% endblock js %}


{% endblock body %}

{% block style %}

.form-control{
  color:black;
}

{% endblock style %}
