{% extends 'base.html' %}
{% block title %}Hanzo Dry Cleaning Services{% endblock title %}
{% load static %}
{% block style %}
.table-sm td,.table-sm th{
    padding:1.5rem;
}
th{
  font-size:1.5rem;
}
tr{
  font-size:1.3rem;
}
.select-check{
  width:25px;
  height:25px;
}
#cart-info-parent{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: -1px;
}

{% endblock style %}
{% block body %}
{% load static %}


<div class="only-laptop">
<br>
<br>
<hr style="border:1px solid black">
</div>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <h2 class="sm:text-3xl text-2xl text-gray-900 font-medium title-font md:w-2/5">
    HANZO provides a wide range of dry clean laundry 
    services.
    <br>
    <span class="inline-block h-1 w-50 rounded bg-yellow-500 mt-24 mb-6" id="uline"></span>
    
    </h2>
  
    <div class="md:w-3/5 md:pl-6">
      <p class="leading-relaxed text-black">
      <b>
      Hanzo provides a wide range of dry cleaning services specifically for all kinds of clothes, ranging from a bridal lehenga
      to a formal 4 piece. We always make sure that the money you pay is the least and we are known for our quick delivery service.
      We assure you that once you place the order, We will pick it and it will be delivered back to you within 54 Hours
      irrespective of the quantity.
      </b>
      </p>
      
      <div class="flex md:mt-4 mt-6">
        <button class="btn btn-warning btn-lg btn-block bg-yellow-500" onclick="change()" data-toggle="popover" id="popcart" data-container="body" data-placement="bottom" data-html='true' data-content="<h1>No Items In Your Cart</h1>">
        <span id="cart">      
        <a id="cart-info">
        Add Items To Cart
        </a>
      </span>
        </button>
      </div>

    </div>
  </div>
</section>

{% comment %} <div class="container px-5 py-24 mx-auto flex flex-wrap" id="cart-info-parent">

<div class="flex md:mt-4 mt-6">
  <button class="btn btn-warning btn-lg btn-block bg-yellow-500" onclick="change()" data-toggle="popover" id="popcart" data-container="body" data-placement="bottom" data-html='true' data-content="<h1>No Items In Your Cart</h1>">
  <span id="cart">      
  <a id="cart-info">
  Add Items To Cart
  </a>
</span>
  </button>
</div>

</div> {% endcomment %}

<div class="t-c table-responsive" style="width:80%;margin:auto;">


{% for product in allProds %}

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">NAME</th>
      <th scope="col">PRICE</th>
      {% comment %} <th scope="col">SELECT</th> {% endcomment %}
    </tr>
  </thead>
  <tbody>


<h1>
<br>
{{product.0.s_parent}}
<br>

</h1>


{% for i in product %}


    <tr>
      <td>
      <img src="{% static 'img/sideicon.png' %}" width='35' height="25" alt="">
      </td>

      <td>
      <span id="namepr{{i.s_no}}">
      {{i.s_name}}
      </span>
      </td>
      
      <td id="pricepr{{i.s_no}}">
      {{i.s_price}}
      <br>
      <span id="divpr{{i.s_no}}" class="divpr">

        <button id="pr{{i.s_no}}" class="btn btn-warning cart">Add To Cart</button>
      
      </span>

      </td>
      
      {% comment %} <td>

      <span id="divpr{{i.s_no}}" class="divpr">

      <button id="pr{{i.s_no}}" class="btn btn-warning cart">Add To Cart</button>
      </span>

      </td> {% endcomment %}

    </tr>

{% endfor %}


  </tbody>
</table>



{% endfor %}

<br><br><br>


</div>

{% endblock body %}
{% block js %}


function change(){
  window.location.href="/place-order-phone/3";
}


if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
    updateCart(cart);
}
// If the add to cart button is clicked, add/increment the item
$('.cart').click(function() {
    var idstr = this.id.toString();
    if (cart[idstr] != undefined) {

        cart[idstr] = [qty, name];
 
    } else {
        qty = 1
        name = document.getElementById('name'+idstr).innerText
        x = document.getElementById('price'+idstr).innerText
        price = x.match(/(\d+)/);

        cart[idstr] = [qty, name, price];
    }
    updateCart(cart);
    
});


//Add Popover to cart

document.getElementById("popcart").setAttribute('data-content', '<h5>Cart for your items in my shopping cart</h5>');

function updatePopover(cart)
{
  
    var popStr = "";
    popStr = popStr + "<h5> Cart for your items in my shopping cart </h5><div class='mx-2 my-2'>";
    var i = 1;
    for (var item in cart){
        popStr = popStr + "<b>" + i + "</b>. ";
        popStr = popStr + document.getElementById('name'+item).innerHTML.slice(0, 27) + "... Qty: " + cart[item][0] + '<br>';
        i = i+1;
    }
    popStr = popStr + "</div> <a href='/place-order-phone/3'><button class='btn btn-outline-warning' id ='checkout'>Checkout</button></a> <button class='btn btn-outline-warning' onclick='clearCart()' id ='clearCart'>Clear Cart</button>     "
    document.getElementById('popcart').setAttribute('data-content', popStr);
    $('#popcart').popover('show');
}


function clearCart() {
    cart = JSON.parse(localStorage.getItem('cart'));
    for (var item in cart) {
        document.getElementById('div' + item).innerHTML = '<button id="' + item + '" class="btn btn-warning cart">Add To Cart</button>'
    }
    localStorage.clear();
    cart = {};
    updateCart(cart);
    location.reload();
}


function updateCart(cart) {
    var sum = 0;
    for (var item in cart) {
        sum = sum + cart[item][0]
        document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-warning minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-warning plus'> + </button>";
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = 'CHECKOUT (' + sum +')';
    updatePopover(cart);
}
// If plus or minus button is clicked, change the cart as well as the display value
$('.divpr').on("click", "button.minus", function() {
    a = this.id.slice(7, );
    cart['pr' + a][0] = cart['pr' + a][0] - 1;
    cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    updateCart(cart);
});
$('.divpr').on("click", "button.plus", function() {
    a = this.id.slice(6, );
    cart['pr' + a][0] = cart['pr' + a][0] + 1;
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    updateCart(cart);
});

{% endblock js %}