{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome {{name}}. Your Personal Hanzo Page!{% endblock title %}
{% block body %}

<br><br>

<div class="only-laptop">
    <hr style="border:1px solid black">
</div>
<br><br><br>
<div class="container">

    <h3>
        <b>
        Hello {{name}}, These are your orders so far : 
        </b>
    </h3>
    <div class="h-1 w-60 bg-yellow-500 rounded" bis_skin_checked="1"></div>
    <br><br>
    <div class="row">

        <div class="col-md-4 order-md-2 mb-4">
          <br><br>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-2">Wash & Fold</h5>
              </div>
                <a href="/panel#card-container">
                <button class="btn btn-dark">Book</button>
                </a>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-2">Wash & Iron</h5>
              </div>
              <a href="/panel#card-container">
              <button class="btn btn-dark">Book</button>
              </a>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-2">Dry Clean</h5>
              </div>
              <a href="/panel#card-container">
              <button class="btn btn-dark">Book</button>
              </a>
            </li>
 
          </ul>
        </div> 

        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">
            <b>Your Previous Orders :</b> 
            </h4>
            <div style="width:100%;margin:auto;float:left">
            

              <ul class="list-group">

                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Order Name
                </li>
              
              
              {% for order in orders %}
              <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size:1.2rem;">
                  <b>
                    {{forloop.counter}}) {{order.order_name}}
                  </b>
                <button class="btn btn-warning">More Info</button>
              </li>
              {% endfor %}
            
              </ul>
              

            </div>  
        </div>
        
    </div>



</div>
<br><br>




{% endblock body %}